/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
 body{
    background-color: rgb(165, 210, 159);
 }
#wrapper{
    padding: 100px;  
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    background-color: rgb(210, 239, 45);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container{
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0 black;
    background-color: rgb(231, 255, 232);
    padding: 40px;
    width: 400px;
    height: 400px;
    /* border: 1px solid black; */ 
}
h5{
    font-size: 20px;
    font-weight: 400;
}
p{
    font-size: 20px;
    font-weight: 400;

}
h4{
    font-size: 20px;
    font-weight: 400;
}
h3{
    font-size: 20px;
    font-weight: 400;
}
#btn{
    padding: 10px;
    font-weight: 700;
    background-color: rgb(245, 60, 60);
    border: none;
    box-shadow: 2px 2px 5px 0 black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
    width: 100px;
}